In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('mtcars.csv')
print(df.head())

df1 = df.copy()

               model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2

# 1. 데이터 타입 확인 및 변경

In [6]:

#   1) 데이터 타입 변환
df1 = df.astype({'cyl':'object', 'gear':'object'})
print(df1.dtypes)

#   2) 데이터 프레임 shape (주의! shape은 함수가 아님!) 
print(df.shape)

model     object
mpg      float64
cyl       object
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear      object
carb       int64
dtype: object
(32, 12)

# 2. 기초 통계량

In [ ]:

#    1) 평균: .mean()
df1['cyl'].mean()
print(df1['cyl'].mean())

#    2) 중앙값: .median()
df1['cyl']
print(df1['cyl'].median())

#   3) 최빈값: .mode() -> 배열 형태임! 
print(df1['cyl'].mode()[0])
print(df1['cyl'].value_counts())

#   4) 분산: .var()
print(df['mpg'].var())

#   5) 표준편차: .std()
print(df['mpg'].std())

#   6) IQR: .quantile()
print(df['mpg'].quantile([0.25, 0.5, 0.75]))

#   7)

6.1875
6.0
8
cyl
8    14
4    11
6     7
Name: count, dtype: int64
36.32410282258064
0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

AttributeError: 'NoneType' object has no attribute 'std'